* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    text-align: center;
}

body {
    position: relative;
    height: 100vh;
    background-color: #121727;
}


p{
  color: white;
}
card{
  position: absolute;
}
/*glass effect*/
.glass{
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.logo{
  font-family: "Poppins", sans-serif;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 15px 50px;
    color: white;
}

nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

li {
    width: 70px;
}

li a {
    font-size: 1.1rem;
    cursor: pointer;
    padding: 20px 15px;
    transition: 0.5s;
    color: white;
}

li a:hover {
    color: #AC1727;
    border-bottom: 4px #AC1727 solid;
    transition: 0.5s;
}

.hide {
    top: 70px;
}

@media screen and (max-width: 700px) {

    /* HAMBURGER */
    .hamburger {
        display: flex;
        flex-direction: column;
        gap: 8px;
        cursor: pointer;
        padding: 10px;
        margin-right: -10px;
    }

    .lines {
        display: block;
        background-color: white;
        height: 2px;
        width: 35px;
    }

    .lines-rotate {
        background-color: rgb(85, 84, 84);
        border-radius: 5px;
    }

    nav {
        position: relative;
        padding: 15px 20px;
    }

    ul {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -300px;
        right: 0;
        background-color: #AC1727;
        padding: 35px 0;
        border-radius: 0 0 20px 20px;
        box-shadow: 0px 5px 5px rgba(128, 128, 128, 0.363);
    }

    li a {
        color: rgba(12, 11, 11, 0.836);
    }

    li {
        text-align: center;
        width: 90vw;
    }

    li a:hover {
        font-weight: bold;
        color: #191e24;
        border: none;
        letter-spacing: 3px;
    }
}

/* SKIP */
footer {
    position: absolute;
    bottom: 30px;
    margin: 30px;
}

footer a {
    color: grey;
}

.main-container {
    background-position: center;
    /* Centraliza a imagem */
    /* Cor de fundo cinza claro */
    min-height: 100vh;
    /* Altura mínima para ocupar toda a tela */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}

/* Estilo para o conteúdo principal */
.main-content {
    border-radius: 10px;
    width: 500px;
    height: 300px;
    margin: 200px auto;
}

.first-title {
    color: white;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}
